[user]
	email = spencer.smolen@scientificgames.com
	name = Spencer Smolen
	signingKey = E5ECC6EB1F631E11795B8BBC9D44A14EAA5A36E2
[init]
	defaultBranch = main
[http]
	sslVerify = false
[commit]
	gpgSign = false
[pull]
  rebase = interactive
[tag]
	gpgsign = true
	forceSignAnnotated = true
[gpg]
	program = gpg
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[alias]
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
lg = lg1
tree = ls-tree -r --name-only --full-tree HEAD
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
